.App {
    margin-top: 9vh;
    text-align: center;
}

.title-text {
    font-size: 5vh;
}

.info-text {
    font-size: 3.5vh;
    margin: 3vh 15vw;
}

.info-text-2 {
    font-size: 2.5vh;
    margin: 1vh 15vw;
    margin-top: 8vh;
}

.text-input {
    width: 70vw;
    text-align: center;
    margin: auto;
}

.menu-button {
    font-size: 3.4vh;
    width: 43vw;
    margin-top: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

body {
    background-color: #212529;
    color: rgb(255, 255, 255);
}

.main-menu-button-tray {
    width: 100%;
    position: absolute;
    bottom: 7vh;
}

.logo {
    margin-top: 12vh;
    width: 70vw;
    padding-left: 5vw;
}

.reset-button {
    position: fixed;
    top: 1vh;
    right: 1vh;
    padding-top: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

#habit-field {
    font-size: 2.3vh;
    width: 80%;
    padding: 2vh 0;
    margin-top: 10vh;
}

#frequency-field {
    font-size: 2.3vh;
    width: 80%;
    padding: 2vh 0;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#target-field {
    font-size: 2.3vh;
    width: 80%;
    padding: 2vh 0;
    margin-top: 2vh;
}


/* App.css or any other CSS file you want to include this in */

.habit-dropdown {
    position: fixed;
    top: 8vh;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    width: 80%;
    margin: 2vw auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* To ensure the dropdown is above other elements */
    transform: translateY(-100%);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    background-color: #3d7dca;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #1e5a8c;
}

.habit-dropdown.visible {
    transform: translateY(0);
    opacity: 1;
}


/* Hide the up and down arrows for Webkit-based browsers */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Hide the up and down arrows for Firefox */

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}