.App {
    margin-top: 2vh;
    text-align: center;
}

.title-text {
    font-size: 5vh;
}

.info-text {
    font-size: 3.5vh;
    margin: 3vh 15vw;
}

.info-text-2 {
    font-size: 2.5vh;
    margin: 1vh 15vw;
    margin-top: 8vh;
}

.text-input {
    width: 70vw;
    text-align: center;
    margin: auto;
}

.menu-button {
    font-size: 3.4vh;
    width: 43vw;
    margin-top: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

body {
    background-color: #212529;
    color: rgb(255, 255, 255);
}

.main-menu-button-tray {
    width: 100%;
    position: absolute;
    bottom: 7vh;
}

.logo {
    margin-top: 18vh;
    width: 70vw;
    padding-left: 5vw;
}

#habit-field {
    font-size: 2.3vh;
    width: 80%;
    padding: 2vh 0;
    margin-top: 10vh;
}

#frequency-field {
    font-size: 2.3vh;
    width: 80%;
    padding: 2vh 0;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#target-field {
    font-size: 2.3vh;
    width: 80%;
    padding: 2vh 0;
    margin-top: 2vh;
}


/* Hide the up and down arrows for Webkit-based browsers */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Hide the up and down arrows for Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}