.App {
    margin-top: 6vh;
    text-align: center;
}

.title-text {
    font-size: 9vw;
}

.info-text {
    font-size: 7vw;
    margin: 3vh 15vw;
}

.text-input {
    width: 70vw;
    text-align: center;
    margin: auto;
}

.menu-button {
    font-size: 6vw;
    width: 40vw;
    margin-top: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

body {
    background-color: #212529;
    color: rgb(255, 255, 255);
}

.main-menu-button-tray {
    width: 100%;
    position: absolute;
    bottom: 20vw;
}

#habit-field {
    font-size: 5vw;
    width: 80%;
    margin-top: 10vh;
}